<ion-view view-title="test">
  <div class="bar bar-subheader">
    <button class="button icon-left ion-chevron-left button-clear"></button>
    <h1 class="title">action sheet</h1>
    <button class="button icon-right ion-chevron-right button-clear"></button>
  </div>
  <ion-content class="has-subheader">
    <div class="button-bar">
      <button ng-click="show()">Show</button>
      <button class="button icon-left ion-chevron-left"></button>
      <button class="button icon ion-chevron-down"></button>
      <button class="button icon-right ion-chevron-right"></button>
      <button ng-click="action()">
        <i class="icon ion-load-a"></i>
        <i class="icon ion-load-b"></i>
        <i class="icon ion-load-c"></i>
        <i class="icon ion-load-d"></i>
        BackDrop
      </button>
    </div>

    <div class="list">
      <div class="item item-divider">1(div)</div>
      <div class="item">11(div)</div>
      <a class="item">12(a)</a>
      <a class="item item-divider">2(a)</a>

      <div class="item item-icon-right ">
        <i class="icon ion-chevron-right"></i>
        22(div)
      </div>
      <a class="item item-icon-right">
        <i class="icon ion-chevron-right"></i>
        32(a)
      </a>
      <button ui-sref="tab.account" class="item item-divider item-icon-left item-icon-right button-full">
        account(button)
        <i class="icon ion-load-a"></i>
        <i class="icon ion-chevron-right"></i>
      </button>
      <a href="" class="item item-avatar item-icon-right">
        <img src="" alt=""/>

        <p>hw</p>

        <p>hw121</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
    <div class="list list-inset">
      <div class="item item-divider">1(div)</div>
      <div class="item">11(div)</div>
      <a class="item">12(a)</a>
      <a class="item item-divider">2(a)</a>

      <div class="item item-icon-right ">
        <i class="icon ion-chevron-right"></i>
        22(div)
      </div>
      <a class="item item-icon-right">
        <i class="icon ion-chevron-right"></i>
        32(a)
      </a>
      <button ui-sref="tab.account" class="item item-divider item-icon-left item-icon-right button-full">
        account(button)
        <i class="icon ion-load-a"></i>
        <i class="icon ion-chevron-right"></i>
      </button>
      <a href="" class="item item-avatar item-icon-right">
        <img src="" alt=""/>

        <p>hw</p>

        <p>hw121</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
    <div class="card">
      <div class="item item-text-wrap">1(div)</div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">1(div)</div>
      <div class="item item-text-wrap">1(div)</div>
      <div class="item">11(div)</div>
      <a class="item">12(a)</a>
      <a class="item item-divider">2(a)</a>

      <div class="item item-icon-right ">
        <i class="icon ion-chevron-right"></i>
        22(div)
      </div>
      <a class="item item-icon-right">
        <i class="icon ion-chevron-right"></i>
        32(a)
      </a>
      <button ui-sref="tab.account" class="item item-divider item-icon-left item-icon-right button-full">
        account(button)
        <i class="icon ion-load-a"></i>
        <i class="icon ion-chevron-right"></i>
      </button>
      <a href="" class="item item-avatar item-icon-right">
        <img src="" alt=""/>

        <p>hw</p>

        <p>hw121</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <div class="item item-image">
        <img src="img/ionic.png" alt="" />
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a> <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
